html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.os-background {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.os-background .profile-box {
  background: inherit;
  width: 350px;
  height: 350px;
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
  overflow: hidden;
  box-shadow: 2px 2px 3px 0px #00000078;
  border-radius: 3px;
  border: 1px solid #ffffff3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.os-background .profile-box::before {
  content: "";
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  transform: rotate(-45deg);
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  filter: blur(4px) contrast(0.7);
  background-color: #ffffff3b;
}

.os-background .profile-box .profile-content {
  transform: rotate(-45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.os-background .profile-box .profile-content div:first-child {
  height: 125px;
  width: 125px;
  background-size: 125px 125px;
  background-image: url("https://avatars2.githubusercontent.com/u/8539260?s=460&v=4");
  border: 5px solid #f2f2f2;
  background-color: #ffffff8a;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 0px #00000078;
}
.os-background .profile-box .profile-content div:nth-child(2) {
  color: #f2f2f2;
  font-size: 1.5em;
  text-shadow: 0 1px 3px #00000078;
  text-align: center;
  margin-top: 20px;
}

.os-background .profile-box .profile-content div:nth-child(3) {
  margin-top: 20px;
}

.os-background .profile-box .profile-content div:nth-child(3) a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
}

.os-shortcut {
  position: absolute;
  z-index: 1;
}

.os-shortcut ul {
  height: calc(100vh - 50px);
  max-width: 350px;
  overflow: hidden;
  margin-block-end: unset;
  margin-block-start: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.os-shortcut ul li {
  color: #f2f2f2;
  list-style-type: none;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.os-shortcut ul li span {
  font-size: 0.9em;
  max-width: 12ch;
  word-wrap: break-word;
}

.os-taskbar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #00000078;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.os-taskbar .time {
  font-size: 1em;
  color: #f2f2f2;
}

@media (min-width: 601px) {
  .os-taskbar {
    justify-content: flex-end;
  }
  .os-taskbar .time {
    margin-right: 20px;
  }
}
