@font-face {
    font-family: "Catamaran";
    src: url("../fonts/Catamaran-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a, a:active, a:hover, a:visited, a:link{
    text-decoration:none;
    color:inherit;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #141518;
    font-family: "Catamaran";
    overflow-x: hidden;
}

header{
    z-index: 1;
    height: 50px;
    width: 100vw;
    background-color: #2c2f34;
    color:#f2f2f2;
    padding: 15px 50px 0 50px;
    text-align: right;
    text-transform: uppercase;
}

header ul{
    white-space: nowrap;
    overflow-x: auto;
}

header li{
    width: 100%;
    list-style-type: none;
    display: inline;
    margin: 0 20px;
}

header.fixed-header{
    position: fixed;
    top: 0;
}

section{
    min-height: 100vh;
    color:#f2f2f2;
}

section:not(:first-of-type){
    padding-top: 50px;
}

section#home{
    background-image: url("../img/home.jpg");
    background: linear-gradient(120deg, rgba(46, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/home.jpg"), url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow:hidden;
}
section#home {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section#home .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


section#home .content .title{
    color: #f2f2f2;
    font-weight: bolder;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    text-shadow: 0 1px 3px #00000078;
}

section#about {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section#about .content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section#about .content .img{
    width: 126px;
    height: 326px;
    background-size:cover; 126px 326px;
    background-image: url("../img/about.png");
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

section#about .content .textbox{
    height: auto;
    width: auto;
    max-width: 40vw;
    background-color: #f2f2f2;
    margin-top:40px;
    margin-left: 20px;
    border-radius: 10px;
    align-self: flex-start;
    padding: 10px;
    color: #2c2f34;
    position: relative;
    text-align: justify;
}

section#about .content .textbox::before{
    content:'';
    width: 20px;
    height: 20px;
    background-color: #f2f2f2;
    position: absolute;
    top:3px;
    left: -8px;
    transform: rotate(45deg);
    margin-top:10px;
    z-index: -1;
}

section#skills{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section#skills .content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section#skills .content canvas{
    margin: 10px 0 20px 0;
    max-width: 400px;
}